.banner {
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-btn {
    color: #FFF;
    background-color: #F15B22;
}

.mindset {
    background-image: url('../images/watch.png'), url('../images/gradient2.png');
}

.call-now-btn {
    color: #F15B22;
}

.subscribe-info input[type="submit"] {
    color: #F15B22;
}